/**
* React Static Boilerplate
* https://github.com/kriasoft/react-static-boilerplate
*
* Copyright © 2015-present Kriasoft, LLC. All rights reserved.
*
* This source code is licensed under the MIT license found in the
* LICENSE.txt file in the root directory of this source tree.
*/

.header {
  background-color: #fff;
  box-shadow: none;
}

.row {
  position: relative;
  width: 100%;
  padding: 10px 0;
  height: 85px;
}

.logo {
  position: relative;
  z-index: 2;
  width: 250px;
  height: auto;
}

@media screen and (max-width: 992px) {

  .header {
    display: flex;
  }

  .row {
    //padding: 0 16px;
  }

  .logo {
    width: 150px;
  }
}
