.cont {
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -20px;
  text-align: right;
}

.item {
  display: inline-block;
  text-transform: uppercase;
  color: #555;
  font-weight: bolder;
  padding: 10px 20px;
}

.item:hover {
  background-color: #f6f6f6;
  text-decoration: none;
}

@media screen and (max-width: 992px) {

  .cont {
    text-align: center;
    top: 75%;
  }

  .item {
    padding: 5px 10px;
  }

}

@media screen and (max-width: 375px) {
  .cont {
    top: 85%;
  }

  .item {
    font-size: smaller;
    padding: 5px 8px;
  }

}
